---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title"></h1>
    </header>

    <div class="post-content">
        <div class="content containe">
            <div class="leftBlog">
                {{ content }}
                <div class="blog">
                    <div class="tag">
                        <div class="blogTimer">4.16</div>
                        <a href="../html/blog/othersIndex/othersIndex.html"class="blogClass">杂集</a>
                    </div>
                    <h3>前端感想</h3>
                    <h4>百度培训感想</h4>
                    <div class="blogContent">
                        <p>在参加百度培训班之前，对前端有个基本的认识，知道前端的东西很杂，而且知识点很多。但是之前只是出于把页面做完就行，好多时候
                            连为什么这样可以，而另一种方法不可以都不知道，就是懵懵懂懂的抱着一种可以实现的态度，没有刨根问底的想要找到真正原理。
                            感谢百度能给我们这么一个机会，花费那么多心思帮我们想题目，找资料，还要给我们review.谢谢各位老师。在这次html css中，知道了BFC、
                            知道了IE的滤镜功能，知道了等高布局等等。我知道自己的页面还有很多需要提高的地方，很多知识点理解的还不那么深入，但是，带着这些知识点
                            以及疑问在继续学习，我相信，我会做的更好。加油，再次感谢各位老师!!!
                        </p>
                    </div>
                    <p class="writer">BaybayLee发表于 2015年4月16号</p>
                </div>
                </div>
            </div>
        <div class="rightGuide">
            <div class="search">
                <input type="text" placeholder="暂无实现"/>
                <a href="#">Go</a>
            </div>
            <div class="classification">
                <ul>
                    <li><a href="../html/blog/htmlIndex/htmlIndex.html" class="title">HTML</a></li>
                    <li><a href="../html/blog/cssIndex/cssIndex.html" class="title">CSS</a></li>
                    <li><a href="../html/blog/javaScriptIndex/javaScriptIndex.html" class="title">JavaScript</a></li>
                    <li><a href="../html/blog/othersIndex/othersIndex.html" class="title">其他文章</a></li>
                </ul>
            </div>
        </div>
    </div>

</article>
